*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

#main{
    overflow: hidden;
}

.container_header{
    width: 100%;
    height: 1006px;
    padding-top: 50%;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(../images/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    background-attachment: fixed;
}



.nav_cart{
    width: 40px;
    cursor: pointer;
    margin-right: 50px;
}

.nav_cart:hover{
    opacity: 0.9;
}

.content {
    position: absolute;
    bottom: 8%;
    color: white;
    text-align: left;
}

.content p{
    font-size: 50px;
    font-weight: 600;
}

.content h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(../images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}



.content h3{
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.content_footer-conect{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    margin-right: 20px;
    display: flex;
    align-items: center;
    animation: transform linear 0.3s;
    transition: 0.3s;
}

.content_footer-conect:hover{
    background-color: rgba(225, 225, 225, 0.99);
    color: black;
}

.content_footer-has-arrow{
    width: 200px;
}

.content_footer-conect-arrow {
    position: absolute;
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: -4px;
    left: 27.5%;
}

.social-icons{
    position: fixed;
    bottom: 11%;
    right: 5%;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
}

.social-icons i{
    font-size: 60px;
    color: var(--primary-color);
}

.social-icons.active{
    visibility: visible;
    opacity: 1;
}

.first_content{
    display: flex;
    height: 1006px;
    width: 100%;
}

.first_content-img{
    margin: 103px 0;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    object-fit: cover;
    filter: grayscale(1);


    transition: all 0.5s;
    transition-property: transform, filter,box-shadow;
}


.first_content-img:hover{
    transform: scale(1.02);
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    filter: grayscale(0);
}

.first_content-text{
    margin-top: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    
}

.first_content-detail{
    text-align: justify;
    line-height: 2;
    box-sizing: inherit;
    color: var(--text-color);
    font-size: 16px;
}

.first_content-btn{
    display: flex;
    width: 100%;
    justify-content: center;
}

.first_content-view{
    margin-top: 32px;
    width: 164px;
    height: 40px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.first_content-view:hover{
    background-color: black;
    color: white;
}

.first_content-more-detail{
    margin: 32px;
}

.first_content-more-detail-col1{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.more-detail-col1_list{
    list-style: none;
    padding-left: 0;
}

.more-detail-col1_item-label{
    color: #a3a3a3;
    font-size: 16px;
    line-height: 2.2;
}

.more-detail-col1_item-detail{
    color: black;
    font-size: 16px;
    color: var(--text-color);
}




/* second content */
.wrap_second-content{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}


.second_content-detail{
    display: flex;
}



.wrap_img{
    overflow: hidden;
    margin: 12px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.second_content-img{
    object-fit: cover;
    height: 384px;
    width: 384px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    transition: transform 0.3s;
    
}

.second_content-text{
    position: absolute;
    color: white;
}

.second_content-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.second_content-overlay2{
    position: absolute;
    top: 0;
    left: -152%;
    width: 120%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transform: skew(-30deg);
    transition: 0.5s;
}

.wrap_img:hover .second_content-overlay2{
    left: -10%;
}

.second_content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    box-sizing: border-box;
    padding: 25px;
    text-shadow: 5px 5px 10px black;
}

.second_content-text span:nth-child(1){
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 1px;
    background-color: white;
    transform-origin: left;
    transition:  0.7s ease-in-out;
    transition-delay: 0.7s;
}

.second_content-text span:nth-child(2){
    position: absolute;
    top: -20px;
    left: 0;
    width: 1px;
    height: 0;
    background-color: white;
    transform-origin: top;
    transition:  0.7s ease-in-out;
    transition-delay: .1.1s;
}

.second_content-text span:nth-child(3){
    position: absolute;
    bottom: 0;
    right:  -20px;
    width: 0;
    height: 1px;
    background-color: white;
    transform-origin: right;
    transition:  0.7s ease-in-out;
    transition-delay: 0.9s;
}

.second_content-text span:nth-child(4){
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 1px;
    height: 0;
    background-color: white;
    transform-origin: left;
    transition:  0.7s ease-in-out;
    transition-delay: .1.3s;
}

.wrap_img:hover .second_content-text span:nth-child(1),
.wrap_img:hover .second_content-text span:nth-child(3){
    width: 115%;
}

.wrap_img:hover .second_content-text span:nth-child(2),
.wrap_img:hover .second_content-text span:nth-child(4){
    height:  120%;
}

.second_content-text h2{
    position: relative;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: linear;
    transform: translateY(-10px);
    text-align: center;
}

.wrap_img:hover .second_content-text h2{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
}

.second_content-text p{
    text-align: center;
    color: white;
    line-height: 1.2;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-timing-function: linear;
}

.wrap_img:hover .second_content-text p{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.7s;
}

.wrap_img:hover .second_content-img{
    transform: scale(1.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.second_content-btn{
    display: flex;
    justify-content: center;
}

.second_content-view{
    width: 164px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin: 32px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.second_content-view:hover{
    background-color: rgba(225, 225, 225, 0.99);
    color: black;
}


/* my services */
.my_services{
    height: 1006px;
}
.my_services-item{
    border: 1px solid #ccc;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    transition: transform 0.5s;
    cursor: pointer;
    position: relative;
    background-color: whitesmoke;
    overflow: hidden;

    z-index: 1;
}

.my_services-item::after{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;

    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform linear 0.2s;
}

.my_services-item:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}


.my_services-item:hover::after{
    transform: scaleY(1);
    transform-origin: bottom;
}

.my_services-item-logo{
    margin-top: 32px;
    font-size: 60px;
    color: var(--primary-color);
}

.my_services-item-label{
    margin-bottom: 10px;
    font-size: 22px;
    margin-top: 15px;
    color: var(--text-color);
}

.my_services-item-content{
    text-align: center;
    margin: 0 16px;
    font-size: 15px;
    color: var(--text-color);
    line-height: 2;
    margin-bottom: 32px;
}

.my_blogs{
    background-color: black;
    padding-bottom: 64px;
}

.my_blogs-item{
    margin: 32px 0 0;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.my_blogs-item-wrap-img{
    overflow: hidden;
    height: 196px;
}

.my_blogs-item-img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    cursor: pointer;
    transition: transform linear 0.2s;
}

.my_blogs-item:hover .my_blogs-item-img{
    transform: scale(1.1);
}


.my_blogs-item-body{
    padding: 24px;
}


.my_blogs-item-label{
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--text-color);
}

.my_blogs-item-status{
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.my_blogs-item-icon{
    font-size: 13px;
    margin-right: 8px;
    color: var(--primary-color);
}

.my_blogs-item-detail{
    font-size: 13px;
    color: var(--text-color);
}

.my_blogs-item-dsc{
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 16px;
    display: block;
    line-height: 2;
    text-align: left;
}

.my_blogs-item-more{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
}

.my_blogs-item-more:hover{
    color: var(--text-color);
}


.contact_me{
    margin-bottom: 64px;
}


.contact_heading{
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 20px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.contact_heading:hover{
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.contact_heading:hover .contact_heading-item-icon{
    background-color: var(--primary-color);
    color: white;
}

.contact_heading-item{
    display: flex;
    align-items: center;
}

.contact_heading-item-icon{
    font-size: 16px;
    border-radius: 50px;
    background-color: #ececec;
    padding: 10px 12px;
    color: var(--primary-color);
    margin-right: 20px;
    transition: 0.3s;
}


.contact_heading-item-heading{
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: left;
}

.contact_heading-item-detail{
    color: var(--text-color);
}

.contact_heading-item-detail i{
    margin: 0 8px;
    font-size: 20px;
}

.contact_form-text{
    margin-left: 12px;
    margin-top: 60px;
    font-size: 15px;
    color: var(--text-color);
}

.contact_form-input{
    margin: 12px 0;
    width: 100%;
    height: 50px;
    padding: 0 25px;
    border: 1px solid #ccc;
    border-radius: 50px;
    transition: 0.5s;
    outline: none;
}

.contact_form-input-full-size{
    margin: 0 12px;
    color: #666666;
    font-size: 14px;
    padding: 10px 22px;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 100%;
    transition: 0.5s ease-in;
    outline: none;
}

.contact_form-input-full-size:focus,
.contact_form-input:focus{
    border: 1px solid var(--primary-color);
}

.contact_form-btn{
    margin-left: 12px;
    margin: 32px 0;
    background-color: transparent;
    width: 164px;
    height: 40px;
    font-size: 15px;
    border: 1px solid black;
    transition: 0.3s linear;
}

.contact_form-btn:hover{
    background-color: black;
    color: white;
}

.my_blogs-item-footer{
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.social-link{
    color: #666666;
    transition: 0.2s;
}

.social-link:hover{
    opacity: 0.8;
}